body {
  font-family: sans-serif;
}

div.header {
  border-bottom: medium groove black;
}

div.header .headline {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  color: black;
  padding: 0px 0px 10px 10px;
}

div.header-right {
  display: inline-block;
  float: right;
}

div.header-right .current-user {
  text-align: right;
  padding-bottom: 5px;
}

div.content {
  padding-top: 10px;
  min-height: 600px;
}

div.votes {
  padding: 30px 0px 0px 0px;
}

div.votes .vote-count {
  display: inline;
}

div.vote-count {
  font-weight: bold;
}

div.error-flash {
  color: red;
}

div.notice-flash {
  color: green;
}

div.footer {
  border-top: medium groove black;
  padding-top: 10px;
}
